XilinxUnisimLibrary/
**/XilinxUnisimLibrary/
**/sim.vcd
# **/sim.log
**/*-sim
**/gatesim.vcd
**/gatesim.log
**/*-gatesim
**/synth.log
**/sanity.hex
# **/synth.log
**/**/**/*-sim
**/**/**/gatesim.vcd
**/**/**/gatesim.log
**/**/**/*-gatesim
**/**/**/synth.log
**/**/**/sanity.hex
**/test_cases_original